<th:block xmlns:th="http://www.thymeleaf.org">
    <a class="nav-link text-white active h5" href="/">Receptor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav row">

            <th:block th:if="${session.isEmpty()}">
                <li class="nav-recipe col-md-4">
                    <a class="nav-link text-white active h6" href="/users/login">Login</a>
                </li>
                <li class="nav-recipe col-md-4">
                    <a class="nav-link text-white active h6" href="/users/register" >Register</a>
                </li>
            </th:block>

            <th:block th:unless="${session.isEmpty()}">
                <li class="col-md-4">
                    <a class="nav-link text-white active h6" href="/">Home</a>
                </li>
                <li class="col-md-4">
                    <a class="nav-link text-white active h6" href="/users/search">Search</a>
                </li>
                <li class="col-md-4">
                    <a class="nav-link text-white active h6" href="/restaurants">All Restaurants</a>
                </li>
                <li class="col-md-4">
                    <a class="nav-link text-white active h6" href="/recipes">All Recipes</a>
                </li>
                <li class="col-md-4">
                    <a class="nav-link text-white active " href="/roles/edit">Edit Role</a>
                </li>
                <li class="col-md-4">
                    <a class="nav-link text-white active h6" href="/users/logout">Logout</a>
                </li>
            </th:block>
        </ul>
    </div>
</th:block>