<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <th:block th:include="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Recipes</span></h1>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark" th:text="|Total count of Recipes: ${recipes.size()}|"></span></h1>
    <h1 class="text-center mt-2" ><a th:href="@{/recipes/most/(id =*{id})}"><span class="badge badge-pill badge-dark" >The Most Liked Recipe</span></a></h1>

    <hr class="hr-3"/>
    <div class="container-fluid">
        <div class="offers row mx-auto d-flex flex-row justify-content-center">
            <div  th:each="r : ${recipes}" th:object="${r}" class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <a th:href="@{/recipes/details/(id =*{id})}">
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" th:src="*{imgUrl}" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" th:text="|Recipe name - *{name}|"></h5>
                    </div>
                </a>
                <a>
                    <button th:text="|Likes: ${r.likes}|" style="display: inline;position:center;right:10px;bottom:10px;"><i
                            class="far fa-thumbs-up"></i></button>
                </a>
                <a th:href="@{/recipes/voteUp/(id = ${r.id})}">
                        <img src="/img/like.jpg" width="50" height="50" align="right" >
                </a>
            </div>
            <div class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <a href="/recipes/add">
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" src="/img/add.png" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" >Add Recipe</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
<footer class="footer bg-info  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
